* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background: #ffffff;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 1;
}

.navbar img {
    height: 40px;
    border-radius: 3px;
    margin: 5px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 15px;
}

nav ul li a {
    color: rgb(64, 64, 64);
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color:rgb(64, 139, 205)
}

#home {
    background-color: #e6e1e1;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    color: rgb(64, 64, 64);
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

#home h1 {
    font-size: 40px;
}

#home p {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section {
    padding: 80px 20px;
    text-align: center;
}

footer {
    background: #040303;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
}

footer ul {
    list-style: none;
}

footer li a {
    color: #675757;
}

#sobre {
    color: rgb(64, 64, 64);
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sobre h1 {
    font-size: 40px;
}

#sobre p {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar-brand {
    font-family: 'Inter', sans-serif;
    color:#887878;
    font-weight: 500;
}